/* CAMBIO DE COLORES PARA TEMAS CLARO/OSCURO */

.claro{
  --primary-color: #0B0A0A;
  --secundary-color: #e2e2e2;
  --gris-color: #d6d5d5;
  --amarillo-p-color: #FBD214;
  --card-p-color: #f5fb7f;
  --azul-color: #022144;
  --azul-claro-color: #013570;
}
.oscuro{
  --primary-color: #e2e2e2;
  --secundary-color: #0B0A0A;
  --gris-color: #d6d5d5;
  --amarillo-p-color: #f5fb7f;
  --card-p-color: #FBD214;
  --azul-color: #013570;
  --azul-claro-color: #022144;
}

/* ESTILOS GENERALES DE CONFIGURACIÓN ---------- */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.App{
  padding: 25px;
  background-color: var(--secundary-color);
  color: var(--primary-color);
}

body {
  background-color: var(--secundary-color);
  color: var(--primary-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NAVBAR ------------------------------ */

#f-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  padding-bottom: 20px;
  font-size: 1.5vw;
  background-color: var(--secundary-color);
  color: var(--primary-color);
}
#f-header:hover {
  transition: 0.2s ease-out;
  border-bottom: 2px solid  var(--amarillo-p-color);
  color: var(--azul-color);
}
#f-header .linksContainer {
  cursor: pointer;
  padding: 0 0.6vw 0 0.6vw;
}
#f-header .linksContainer a {
  text-align: center;
  padding: 0.6vw;
  margin: 0 10px;
  min-width: 120px;
  max-width: 120px;
  background-color: var(--secundary-color);
  color: var(--primary-color);
}
#f-header .linksContainer a:hover {
  transition: 0.2s ease-out;
  border-bottom: 4px solid  var(--amarillo-p-color);
  color: var(--azul-color);
}
#f-header .h-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s ease-in-out;
  background-color:  var(--amarillo-p-color);
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  padding: 20px;
  border-radius: 50%;
  font-size: 1rem;
  color: var(--azul-color);
  font-size: 1.4vw;
  cursor: pointer;
}
#f-header .h-btn:hover {
  transition: 0.6s ease;
  background-color: var(--azul-color);
  color: var(--amarillo-p-color);
}

nav > img {
  width: 200px;
  margin: 0;
}

nav > a{
  align-self: center;
  justify-self: center;
}

.linksContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
}


/* MAIN ----------------------------- */

main{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
}

a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: var(--gris-color);
} 

/* FOOTER ----------------------------------- */

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
  margin-top: 2rem;
}

footer > img{
  width: 200px;
  margin: 0;
}
footer > p{
  margin: 0;
  padding-top: 0.7rem;
}

/* FORM ---------------------------------- */

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}


/* CARD --------------------------------- */

.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem;
  transition: 0.6s ease-in-out;
  border: 2px solid var(--azul-color);
  background-color: var(--card-p-color) !important;
}

.card:hover{
  transition: 0.6s ease-in-out;
  color: var(--gris-color);
  border: 2px solid var(--amarillo-p-color);
  background-color: var(--azul-claro-color) !important;
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}
.detailLink{
  transition: .6s ease-in-out;
}
.detailLink:hover{
  transition: .6s ease-in-out;
  color: var(--amarillo-p-color);
}

.favButton{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s ease-in-out;
  background-color:  var(--amarillo-p-color);
  padding: 5px;
  min-width: 30px;
  max-width: 30px;
  min-height: 30px;
  max-height: 30px;
  border-radius: 50%;
  font-size: 1rem;
  color: var(--azul-color);
  font-size: 1.4vw;
  cursor: pointer;
  border: 2px solid var(--azul-color);
}

.favButton:hover{
  transition: 0.6s ease;
  background-color: var(--azul-color);
  color:  var(--amarillo-p-color);
  border: 2px solid var(--amarillo-p-color);
}
