body {
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}
.btn{
  border: none;
}

h1{
  text-align: center;
}

nav{
  display: flex;
  width: 90%;
  justify-content: space-between;
  padding: 1rem;
}

nav > img {
  width: 200px;
  margin: 0;
}

nav > a{
  align-self: center;
  justify-self: center;
}

.linksContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
}

main{
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: space-between;
  padding: 1rem;
}

a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(136, 136, 136);
} 

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  position: relative;
  bottom: 0;
  width: 90%;
  height: 40px;
  margin-top: 2rem;
}

footer > img{
  width: 200px;
  margin: 0;
}
footer > p{
  margin: 0;
  padding-top: 0.7rem;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90%;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

.claro{
  background-color: white;
  color: #12121296;
}

.claro > a {
  color: #12121296;
}

.oscuro{
  background-color: #12121296;
  color: white;
}

.oscuro > a {
  color: white;
}