/* CAMBIO DE COLORES PARA TEMAS CLARO/OSCURO */

.claro{
  --primary-color: #0B0A0A;
  --secundary-color: #e2e2e2;
  --gris-color: #d6d5d5;
  --amarillo-p-color: #FBD214;
  --card-p-color: #f5fb7f;
  --azul-color: #022144;
  --azul-claro-color: #013570;
}
.oscuro{
  --primary-color: #e2e2e2;
  --secundary-color: #0B0A0A;
  --gris-color: #d6d5d5;
  --amarillo-p-color: #f5fb7f;
  --card-p-color: #FBD214;
  --azul-color: #013570;
  --azul-claro-color: #022144;
}

/* ESTILOS GENERALES DE CONFIGURACIÓN ---------- */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 150px;
  max-height: 80px;
  min-width: 150px;
  min-height: 80px;
  background-color: var(--secundary-color);
  color: var(--primary-color);
}

.App{
  padding: 25px;
  background-color: var(--secundary-color);
  color: var(--primary-color);
  min-height: 100vh;
}

body {
  background-color: var(--secundary-color);
  color: var(--primary-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NAVBAR ------------------------------ */

#f-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  padding-bottom: 20px;
  font-size: 1.5vw;
  background-color: var(--secundary-color);
  color: var(--primary-color);
  border-bottom: 2px solid  var(--amarillo-p-color);
}

#f-header:hover {
  transition: 0.2s ease-out;
  color: var(--azul-color);
}

#f-header .linksContainer {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
}

#f-header .linksContainer a {
  text-align: center;
  align-self: center;
  justify-self: center;
  padding: 0.6vw;
  margin: 0 10px;
  min-width: 120px;
  max-width: 120px;
  background-color: var(--secundary-color);
  color: var(--primary-color);
}

#f-header .linksContainer a:hover {
  transition: 0.2s ease-out;
  border-bottom: 4px solid  var(--amarillo-p-color);
  color: var(--azul-color);
}

#f-header .h-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s ease-in-out;
  background-color:  var(--amarillo-p-color);
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  padding: 20px;
  border-radius: 50%;
  font-size: 1rem;
  color: var(--azul-color);
  font-size: 1.4vw;
  cursor: pointer;
}

#f-header .h-btn:hover {
  transition: 0.6s ease;
  background-color: var(--azul-color);
  color: var(--amarillo-p-color);
}


/* MAIN ----------------------------- */

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: var(--secundary-color);
  color: var(--primary-color);
}

main > h1 {
  text-align: center;
  background-color: var(--secundary-color);
  color: var(--primary-color);
  padding: 10px 0;
}

.card-grid{
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  }

/* CARD --------------------------------- */

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 220px;
  height: 340px;
  padding: 10px;
  transition: 0.6s ease-in-out;
  border: 2px solid var(--azul-color);
  background-color: var(--card-p-color);
}

.card:hover{
  transition: 0.6s ease-in-out;
  color: var(--gris-color);
  border: 2px solid var(--amarillo-p-color);
  background-color: var(--azul-claro-color);
}

.card > h3{
  text-align: center;
  font-size: 15px;
  text-decoration: underline;
}

.card > p{
  text-align: center;
  font-size: 14px;
}

.detailLink{
  transition: .6s ease-in-out;
  text-decoration: none;
  color: var(--amarillo-p-color);
}

.detailLink:hover{
  transition: .6s ease-in-out;
  color: var(--card-p-color);
}

.favButton{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s ease-in-out;
  background-color:  var(--amarillo-p-color);
  padding: 5px;
  min-width: 45px;
  max-width: 45px;
  min-height: 45px;
  max-height: 45px;
  border-radius: 45%;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid var(--azul-color);
}
.add{
  color: red;
  font-size: 20px;
}

.remove{
  color: rgba(184, 184, 184, 0.4);
}

.favButton:hover{
  transition: 0.6s ease;
  background-color: var(--azul-color);
  color:  var(--amarillo-p-color);
  border: 1px solid var(--amarillo-p-color);
}

/* DETAILS ---------------------------------- */

.detail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: var(--secundary-color);
  color: var(--primary-color);
}

.detail > h1 {
  text-align: center;
  background-color: var(--secundary-color);
  color: var(--primary-color);
  padding: 10px 0;
}

/* LOADER ----------------------------------- */

/* FAVORITOS -------------------------------- */

.fav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: var(--secundary-color);
  color: var(--primary-color);
}

.fav > h1 {
  text-align: center;
  background-color: var(--secundary-color);
  color: var(--primary-color);
  padding: 10px 0;
}

/* CONTACTO --------------------------------- */

.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secundary-color);
  color: var(--primary-color);
  width: 100%;
  padding: 20px;
}

.contact > h2{
  text-align: center;
  padding: 10px 0;
}

.contact > p{
  text-align: center;
  padding: 10px 0;
}

/* FORMULARIO ------------------------------- */

.formContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--secundary-color);
  color: var(--primary-color);
  padding: 20px 25px;
  border: 10px solid var(--amarillo-p-color);
}

.formContainer > h2{
  text-align: center;
  padding: 10px 0;
}
.formContainer > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.form-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 20px;
}

.form-group > label {
  align-self: flex-start;
  padding: 10px 5px;
}

.form-group > input {
  padding: 10px;
  border: 1px solid var(--card-p-color);
  background-color: var(--secundary-color);
  color: var(--primary-color);
}
.form-group > input:focus{
  padding: 10px;
  outline: none;
  border: 2px solid var(--amarillo-p-color);
}

.formContainer > form > .h-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s ease-in-out;
  background-color:  var(--amarillo-p-color);
  padding: 10px;
  color: var(--azul-color);
  cursor: pointer;
  font-weight: bold;
}

.formContainer > form > .h-btn:hover {
  transition: 0.6s ease;
  background-color: var(--azul-color);
  color: var(--amarillo-p-color);
}

.error{
  color: red;
  font-size: 10px;
  padding-top: 10px;  
}
.success{
  color: green;
  font-size: 10px;
  padding-top: 10px;
}

/* FOOTER ----------------------------------- */

footer {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 20px;
  width: 100%;
  background-color: var(--secundary-color);
  color: var(--azul-color);
  border-top: 2px solid var(--amarillo-p-color);
  bottom: 0;
}
footer > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secundary-color);
  color: var(--azul-color);
}

footer > div > p:first-child{
  padding: 10px;
  color: var(--primary-color);
  border-left: 4px solid var(--amarillo-p-color);
}

footer > img {
  max-width: 110px;
  max-height: 50px;
  min-width: 110px;
  min-height: 50px;
}

/* FORM ---------------------------------- */

